# Entorno virtual
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Dataset (se descarga aparte, demasiado pesado para git)
datasets/*/images/*
datasets/*/labels/*
!datasets/*/images/.gitkeep
!datasets/*/labels/.gitkeep
*.cache

# Modelos entrenados (pesos pesados, no van en git)
models/*.pt
models/*.onnx
!models/.gitkeep

# Salidas de entrenamiento de YOLO
runs/

# Editor / SO
.vscode/
.idea/
Thumbs.db
.DS_Store

# Variables de entorno
.env
